[submodule "pd-net-sync"]
	path = pd-net-sync
	url = https://github.com/chr15m/pd-net-sync
[submodule "rjlib"]
	path = rjlib
	url = git@github.com:chr15m/rjlib.git
[submodule "sssad"]
	path = sssad
	url = git@github.com:chr15m/sssad.git
[submodule "blockhead"]
	path = blockhead
	url = git@github.com:chr15m/blockhead.git
