[submodule "rjlib"]
	path = rjlib
	url = https://github.com/chr15m/rjlib
[submodule "sssad"]
	path = sssad
	url = https://github.com/chr15m/sssad
[submodule "blockhead"]
	path = blockhead
	url = https://github.com/chr15m/blockhead
